.avatar-marker {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 6px rgba(0,0,0,0.6);
}

.avatar-icon {
  background: transparent;
  border: none;
}
